/* Styles généraux */

/* Header */
header {
    background: rgba(4, 86, 10, 0.9);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    box-sizing: border-box;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
}

header p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Corps du document */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #52d2aa;
    color: #333;
}

/* Espacement du contenu principal */
main {
    padding-top: 120px; /* Ajouté pour que le contenu ne soit pas caché sous le header */
}

/* Sections */
.section-container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.section-container:hover {
    transform: scale(1.02);
}

/* Section "À propos" */
#about {
    background: #138f5c;
    color: white;
}

/* Projets */
.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

/* Formulaire */
form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #21ca21;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

form input:focus, form textarea:focus {
    border-color: #333;
    outline: none;
}

/* Bouton */
button {
    background-color: #0ac913;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #e0554c;
}

bouton-fichier {
    background-color: #0ac913;
    color: white;
    padding: 12px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: 40px;
}

header nav ul li a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: #fff; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
    transition: color 0.3s; /* Transition pour le changement de couleur */
}